In [16]:
import scipy
import math
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
from scipy.stats import ttest_1samp
from scipy.stats import poisson
from scipy.stats import chi2_contingency
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind
pd.set_option('max_columns', 50)

### Load the dataset

Load the cleaned dataset.

In [17]:
rent = pd.read_csv("rent_clean.csv")
rent.drop(columns="Unnamed: 0",inplace=True)
airbnb = pd.read_csv("airbnb_final.csv")
airbnb.drop(columns="Unnamed: 0",inplace=True)

Let's have a quick look at the dataframe

In [18]:
rent.head(1)

   Zone   Rent  Area  Yearly rent Number of bedrooms
0     1  564.0  56.0       6768.0                  1

In [19]:
airbnb.head(1)

,id,host_id,room_type,bedrooms,price,count of reviews,days of occupancy,Yearly income,Zone,latitude,longitude,geometry
0,317273,1156398,Entire home/apt,1,155,7,42,6510,1,44.84734,-0.58034,POINT (-0.58034 44.84734)

# Question 1: Calcute a confidence interval as to how much income a potential investor can expect by renting an appartment on Airbnb?

A real-estate owner has several 1-bedroom appartments (the most common type of appartments in our data) and is contemplating switching from renting monthly to list them on Airbnb.


**Please calculate a confidence interval with a degree of confidence of 90%**

In [20]:
air_1b = airbnb["Yearly income"].loc[airbnb["bedrooms"]=='1']
air_1b.describe()
#mean 6558.769647696477

count     1476.000000
mean      6558.769648
std       5460.221302
min        624.000000
25%       2880.000000
50%       4848.000000
75%       8640.000000
max      64800.000000
Name: Yearly income, dtype: float64

In [21]:


mu, sigma = np.mean(air_1b), air_1b.std()
se= sigma/math.sqrt(len(air_1b))
conf_int = stats.norm.interval(0.90, loc=mu, 
    scale=se)
conf_int

(6324.996662297841, 6792.542633095112)

# Question 2: Goodness of fit

The distribution of incomes of airbnb and rented appartment seem to follow a Poisson distribution.


**Please check for the goodness of fit for both*

In [22]:
con = pd.read_csv("concatted.csv")
con.head(1)

,Unnamed: 0,id,host_id,room_type,bedrooms,price,count of reviews,days of occupancy,Yearly income,Zone,latitude,longitude,geometry,Rent,Area,Yearly rent
0,0,317273.0,1156398.0,Entire home/apt,1,155.0,7.0,42.0,6510.0,1,44.84734,-0.58034,POINT (-0.58034 44.84734),NaN,NaN,NaN

In [23]:
#we need the mean sample for both samples (airbnb and rent)
mu = airbnb["Yearly income"].mean() #8292..
mu2 = rent["Yearly rent"].mean() #7718
print(airbnb["Yearly income"].shape[0])
print(rent["Yearly rent"].shape[0])
print(rent["Yearly rent"].index)

2373
904
RangeIndex(start=0, stop=904, step=1)

In [24]:
#Airbnb
observed = airbnb["Yearly income"]
proba = [stats.poisson.pmf(k,mu = mu) for k in range(len(observed) - 1)]
proba.append(1 - sum(proba))

expected = [p * sum(observed) for p in proba]


stats.chisquare(observed, f_exp=expected)

Power_divergenceResult(statistic=inf, pvalue=0.0)

In [25]:
observed = airbnb["Yearly income"]
proba = [stats.norm.pdf(k,loc = mu,scale=scipy.stats.sem(observed)) for k in range(len(observed) - 1)]
proba.append(1 - sum(proba))

expected = [p * sum(observed) for p in proba]


stats.chisquare(observed, f_exp=expected)

Power_divergenceResult(statistic=inf, pvalue=0.0)

In [26]:
#Rent

observed1 = rent["Yearly rent"]
proba1 = [stats.poisson.pmf(k,mu = mu2) for k in range(len(observed1) - 1)]
proba1.append(1 - sum(proba1))

expected1 = [p * sum(observed1) for p in proba1]


stats.chisquare(observed1, f_exp=expected1)

Power_divergenceResult(statistic=inf, pvalue=0.0)

In [27]:
observed1 = rent["Yearly rent"]
proba1 = [stats.norm.pdf(k,loc = mu,scale=scipy.stats.sem(observed1)) for k in range(len(observed1) - 1)]
proba1.append(1 - sum(proba1))

expected1 = [p * sum(observed1) for p in proba1]


stats.chisquare(observed1, f_exp=expected1)

Power_divergenceResult(statistic=inf, pvalue=0.0)

In [28]:
#There is no goodness of fit with Poisson or normal for our distributions

# Question 3: calculate the probability of an expected income

A real estate owner is contemplating switching his 1 bedroom appartment in zone 2 from monthly renting to airbnb listing. However, this would include some extra costs and organisations. Therefore, he is only considering switching if he can expect to make an axtra 3000E per year. He currently rents his appartment at the market price (average rent for this appartment in that zone.


**Please calculate a t_test_rel and the cdf in order to give a probability of reaching an extra 3000 per year*

In [32]:
#Ho
rent.dtypes

Zone                    int64
Rent                  float64
Area                  float64
Yearly rent           float64
Number of bedrooms     object
dtype: object

In [45]:
a=airbnb["Yearly income"].loc[(airbnb["Zone"]==2)&(airbnb["bedrooms"]=='1')]
b=rent["Yearly rent"].loc[(rent["Zone"]==2)&(rent["Number of bedrooms"]=='1')]
len(b)
a2=a.sample(n=77)
a2

1705     3000
54      23040
527      1536
929      4950
1725     6942
        ...
1563     4992
1517     5202
1929     7800
659      5700
209     64800
Name: Yearly income, Length: 77, dtype: int64

In [46]:
scipy.stats.ttest_rel(a2, b)

Ttest_relResult(statistic=1.0201726671711338, pvalue=0.3108831216830079)

In [ ]:
#cannot reject..

In [48]:
se =stats.sem(a)

In [52]:
prob =stats.norm.cdf(a,loc=0,scale=se)

In [53]:
prob

array([5.82689162e-040, 4.52557907e-030, 9.99999283e-001, 1.00000000e+000,
       1.00000000e+000, 2.41036096e-048, 2.42779756e-001, 2.20643685e-014,
       9.99999998e-001, 1.00000000e+000, 2.01919964e-034, 1.00000000e+000,
       6.26555884e-073, 1.00000000e+000, 9.67454207e-027, 2.42779756e-001,
       9.99951339e-001, 1.11457144e-007, 1.00000000e+000, 6.26555884e-073,
       7.30835905e-001, 1.00000000e+000, 2.09387869e-032, 7.30835905e-001,
       2.96131181e-094, 2.09387869e-032, 1.35124431e-001, 1.80996754e-078,
       1.35906805e-004, 3.95838826e-100, 1.00000000e+000, 1.00000000e+000,
       1.00000000e+000, 7.30835905e-001, 7.23588970e-085, 1.00000000e+000,
       1.28646167e-031, 1.00000000e+000, 4.32655183e-003, 8.64788527e-004,
       1.22836634e-095, 9.99989359e-001, 1.26834466e-106, 9.99999780e-001,
       2.92438202e-010, 4.75660012e-044, 2.18829794e-074, 4.75130099e-083,
       4.83638832e-001, 1.85597309e-045, 1.28591592e-023, 2.41036096e-048,
       8.79073225e-002, 2.73980317e-026, 2.69953212e-022, 1.92940376e-066,
       2.87182571e-101, 9.40995396e-075, 1.24199273e-089, 1.00000000e+000,
       1.00627239e-032, 5.37421901e-099, 9.99951339e-001, 8.47073358e-009,
       2.72966228e-104, 3.53199343e-070, 1.15614749e-042, 1.28646167e-031,
       9.99999982e-001, 4.59792274e-059, 1.99185625e-011, 1.85597309e-045,
       9.99999998e-001, 1.00000000e+000, 6.33882543e-037, 7.30835905e-001,
       6.45165940e-062, 1.00160266e-104, 2.41036096e-048, 1.00000000e+000,
       3.21039137e-077, 2.37616192e-037, 1.00000000e+000, 1.00000000e+000,
       2.32583806e-095, 1.34509670e-067, 1.00000000e+000, 5.72731871e-087,
       4.83088072e-008, 9.00072484e-001, 1.33324357e-079, 1.00000000e+000,
       3.83243351e-003, 7.23588970e-085, 1.44926078e-028, 1.00000000e+000,
       1.00000000e+000, 6.86806914e-047, 1.35131888e-020, 1.52546743e-001,
       1.00000000e+000, 4.76897154e-028, 3.19319225e-007, 1.47932127e-057,
       1.00000000e+000, 1.00000000e+000, 1.60337666e-091, 2.68865841e-070,
       6.39739809e-063, 1.38598482e-043, 3.24221234e-084, 2.41036096e-048,
       9.99999995e-001, 2.47973062e-096, 3.36084143e-058, 1.01546157e-078,
       1.00000000e+000, 4.83088072e-008, 4.43213204e-036, 1.61131038e-006,
       1.00000000e+000, 1.20823761e-038, 1.92051262e-013, 1.11457144e-007,
       8.22487178e-061, 1.35457450e-009, 7.91746223e-028, 1.92051262e-013,
       1.00000000e+000, 5.69439955e-022, 1.01913788e-077, 3.52915089e-083,
       1.00000000e+000, 5.53866593e-007, 2.79979716e-018, 1.35457450e-009,
       7.79918837e-049, 3.21036741e-036, 1.00000000e+000, 2.09387869e-032,
       4.52557907e-030, 1.28591592e-023, 1.96903141e-098, 1.00000000e+000,
       1.76212717e-042, 1.75699099e-060, 1.00000000e+000, 1.07313620e-001,
       1.00000000e+000, 1.73605216e-006, 1.00000000e+000, 1.00000000e+000,
       2.51242143e-020, 1.59728851e-065, 5.53866593e-007, 1.44815314e-047,
       1.40757677e-035, 1.00000000e+000, 2.41036096e-048, 3.29607999e-001,
       9.99999961e-001, 1.60337666e-091, 1.55500147e-073, 8.22487178e-061,
       2.41036096e-048, 7.28441139e-011, 7.86303375e-117, 2.96131181e-094,
       9.85723214e-001, 5.82689162e-040, 1.00000000e+000, 5.72731871e-087,
       9.46349128e-016, 8.70367264e-001, 4.83638832e-001, 5.57722133e-025,
       1.00000000e+000, 9.12908099e-001, 2.31036385e-061, 1.35906805e-004,
       1.00000000e+000, 2.57293732e-040, 1.00000000e+000, 1.97503931e-010,
       1.00000000e+000, 1.69142466e-064, 7.91746223e-028, 1.01546157e-078,
       7.08127523e-009, 1.47932127e-057, 5.43772564e-012, 2.18829794e-074,
       6.48482922e-035, 3.69855486e-064, 1.00000000e+000, 1.21250671e-015,
       9.99999998e-001, 8.98218843e-020, 1.98781832e-002, 9.99993458e-001,
       1.30778584e-092, 9.40995396e-075, 7.76365992e-087, 1.28591592e-023,
       1.61719937e-111, 1.00000000e+000, 9.99999998e-001, 3.02259229e-001,
       1.00000000e+000, 1.00000000e+000, 1.00000000e+000, 9.40995396e-075,
       4.43256065e-035, 1.61719937e-111, 2.16848274e-027, 9.40995396e-075,
       1.15614749e-042, 7.58050762e-053, 4.88372253e-038, 3.83243351e-003,
       1.00000000e+000, 7.76365992e-087, 1.97503931e-010, 2.62515557e-011,
       1.80996754e-078, 1.28591592e-023, 1.44926078e-028, 1.00000000e+000,
       2.17468265e-042, 1.00000000e+000, 9.21233645e-041, 1.85597309e-045,
       1.44815314e-047, 2.41036096e-048, 2.53231092e-051, 1.60337666e-091,
       3.57737766e-027, 4.88372253e-038, 1.00000000e+000, 2.50973083e-072,
       3.14984242e-076, 4.17302506e-006, 2.24384991e-015, 1.97631438e-093,
       8.98218843e-020, 1.00000000e+000, 7.95098714e-084, 1.97503931e-010,
       1.00000000e+000, 4.83638832e-001, 1.60337666e-091, 1.19416499e-021,
       9.97360975e-001, 3.21036741e-036, 3.60106921e-090, 1.00000000e+000,
       1.15614749e-042, 1.19416499e-021, 7.86303375e-117, 1.00000000e+000,
       1.61719937e-111, 3.60106921e-090, 1.73034750e-080, 1.42381897e-018,
       1.38598482e-043, 2.49047473e-106, 2.42779756e-001, 1.20823761e-038,
       2.72257965e-098, 2.50973083e-072, 8.47073358e-009, 2.37616192e-037,
       1.34509670e-067, 2.79979716e-018, 1.19281863e-005, 2.81522976e-082,
       1.24199273e-089, 3.69855486e-064, 9.99993458e-001, 8.22487178e-061,
       7.58050762e-053, 2.31036385e-061, 3.36084143e-058, 1.19416499e-021,
       2.05550710e-017, 1.97503931e-010, 2.44286854e-004, 4.60151411e-107,
       2.09387869e-032, 8.02251629e-050, 1.59728851e-065, 8.47073358e-009,
       1.55500147e-073, 2.47973062e-096, 2.49047473e-106, 3.24221234e-084,
       1.42896988e-041, 1.00000000e+000, 1.00000000e+000, 5.53866593e-007,
       1.85597309e-045, 2.81522976e-082, 1.21250671e-015, 1.83129708e-029,
       2.50973083e-072, 7.86303375e-117, 2.19097051e-091, 2.50973083e-072,
       1.12664586e-013, 2.70301903e-065, 2.70301903e-065, 2.17053666e-085,
       1.47932127e-057, 9.40995396e-075, 2.50973083e-072, 1.83129708e-029,
       5.31951140e-104])